<h3 style="text-align: center;">Составление рациона</h3>
<br>
<form>
    <div class="row">
        <div class="input-field">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
    </div>
</form>